@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Open+Sans:wght@300;400;600;700;800&display=swap');

/* General html tag styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-image: url(hangman-bg-image.jpg);
  background-size: cover;
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  list-style: none;
  text-align: left;
  line-height: 2;
}

/* styles for the div that wraps the game content */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100%; 
  overflow: overlay;
}

/* styles for the div that wraps the game components */
.game-container {
  padding: 2% 10%;
  max-width: 600px;
  height: auto;
}

/* header styles */
.game-title {
  font-family: 'Mynerve', cursive;
  font-size: 30px;
  margin-bottom: 0px;
}

.game-subtitle {
  font-family: 'Mynerve', cursive;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

/* styles for the generated word component */
.letter {
  border-bottom: 1px solid black;
  margin: 0 .15rem;
  display: inline-flex;
  font-size: 1.75rem;
  width: 1.75rem;
  height: 2rem;
  justify-content: center;
}

/* styles for the generated button component */
.letterButtons {
  margin: 1rem 0;
}

.letterButton {
  margin: .05rem .15rem;
  width: 2rem;
  padding: .25rem .5rem;
  border: none;
  background-color: rgb(150, 150, 150);
  color: black;
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}

.letterButton:disabled,
.letterButton[disabled] {
  background-color: rgb(37, 33, 33);
  cursor: default;
  color: white;
}

/* style for the game status message won/lost and the word that will be displayed in case of a loss */
.statusMessage {
  font-family: 'Mynerve', cursive;
  font-size: 34px;
  margin-bottom: 0;
}

.show-word {
  font-size: 14px;
  margin-bottom: 2rem;
}

/* styles for the restart game component */
.restart-btn {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(160, 158, 158);
  border-radius: 3px;
  padding: .5rem 1.5rem;
  color: rgb(63, 63, 63);
  text-transform: uppercase;
  cursor: pointer;
}

/* styles for the game rules component */
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
}

.rulesModal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  background: white;
  padding: 14px 28px;
  max-width: 600px;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.rulesModal-title {
  font-size: 24px;
  font-family: 'Mynerve', cursive;
}

.rules-btn, .close-btn {
  margin-top: 1rem;
  background-color: rgb(63, 63, 63);
  border: none;
  border-radius: 3px;
  padding: .5rem .75rem;
  color: rgb(206, 203, 199);
  cursor: pointer;
}

/* styles for screen sizes greater than 1230px */
@media (min-width: 1230px) {
  body {
    background-position: top;
  }

  .game-title {
    font-size: 45px;
  }

  .game-subtitle {
    font-size: 24px;
  }

  .letterButton {
    padding: .5rem .75rem;
    width: 3rem;
  }
}